<style>

 a {
    color:rgb(40, 157, 159);
    text-decoration: none;
 }

  h1 {
 font-size:45px;
text-align: center;
border-bottom :1px solid gray;
padding: 10px;
margin:0
 } 

ol{
    border-right: 1px solid gray;
    width:100px;
    margin:0;
    padding:20px;

}

#grid ol{
    padding-left:50px;
}
    

#grid{
display:grid;
grid-template-columns : 150px 1fr;
}

#article{
    padding-left: 50px;
}

h2{
    text-align: center;
}



@media (max-width:800px) {
#grid{
display:block;
}
ol{
    border-right: none;
}
}


</style>